spring:
  application:
    name: books-management

  datasource:
    url: jdbc:postgresql://localhost:5432/books
    username: postgres
    password:
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
      show-sql: true
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true

  rabbitmq:
    host: localhost
    password: guest
    port: 15672
    username: guest
    exchange: shortlisted_books_exchange
    addShortListedQueue: shortlisted_books_add_queue
    addShortListedRoutingKey: shortlisted_books_add_routingKey
    removeShortListedQueue: shortlisted_books_remove_queue
    removeShortListedRoutingKey: shortlisted_books_remove_routingKey
    log:
      console:
        level: debug

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka

server:
  port: 8084